<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (messages) { %>
    <ul>
      <% messages.forEach(function(message) { %>
      <li>
        <b><%= message.user %></b>:
        <span><%= message.text %></span>
        <i><%= message.added %></i>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
